* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
    overflow: scroll;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage {
    height: 69vw;
    overflow: hidden;
    background-image: url("./Assets/462927.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#hamburg{
    display: none;
}

#menu-links a{
    display: none;
    background-color: #c0a988;
    padding: 30px;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
    z-index: 3;
    color: white;
    font-weight: bold;
}

nav {
    display: flex;
    padding: 2%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.29);
    background-blend-mode: lighten;
    align-items: center;
}

.nav_heading {
    padding-left: 7%;
    font-size: 2em;
    color: white;
}

nav a {
    padding-right: 3.5%;
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-shadow: 2px 2px 4px black;
    transition: text-shadow 1s;
}

#forImage {
    height: 200%;
    margin-left: 1%;
}

#home {
    padding-left: 49%;
    cursor: pointer;
}

.welcome {
    font-size: 5em;
    color: rgb(255, 255, 255);
    padding: 10% 0% 0% 7%;
    z-index: 0;
}

.abouttheweb {
    z-index: 0;
    font-size: 2em;
    padding: 2% 0% 0% 7%;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#Get_more_button {
    width: 10.5%;
    height: 4.5%;
    font-weight: bolder;
    font-size: 0.95em;
    margin: 4% 0% 0% 17%;
    border-radius: 0.5em;
    border: 0px;
    color: white;
    background-color: #B99470;
}



#randompage {
    margin-top: -10%;
    display: grid;
    justify-content: center;
    background-color: #B99470;
}

.random_meals_head {
    padding-top: 2%;
    text-align: center;
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 3px black;
}

.cell {
    width: 100%;
    display: grid;
    justify-content: center;
    text-align: center;
}

.cell_image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 7px rgb(56, 55, 55);
    overflow: hidden;
    background-color: antiquewhite;
}

.cell_image_name {
    padding-top: 5%;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

.random_meals {
    width: 80%;
    margin: 7% auto 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    justify-content: center;
}


/* INGREDIANTS POP UP */


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#ingrediants{
    display: grid;
    position: absolute;
    bottom: -850px;
    margin: 7% 0% 0% 10%;
    grid-template-columns: 30% 70%;
    grid-gap: 6%;
    visibility: hidden;
    background-color: #c0a988;
    padding: 70px;
    margin-left: 15%;
    box-shadow: #443623 3px 2px 10px;
    border-radius: 50px;
}

#ingrediants_cells{
    grid-row: span 3;
}

.ingrediants_cells{
    width: 650px;
    height: 400px;
    background-color: #c0a988;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    gap: 2%;
    overflow: auto;
}

.ingrediants_button{
    height: 300%;
    font-weight: bolder;
    background-color: #443623;
    color: white;
    border: 0px;
    border-radius: 10px;
    width: 280px;
}

.celling_image{
    text-align: center;
    width: 30%;
}

.celling{
    padding: 5%;
}

.celling_image_name{
    color: white;
    font-size: 1em;
    text-align: center;
}

#inglist{
    padding:0% 0% 0% 2%;
    font-size: 1.6em;
    color: black;
    list-style:none;

}

.li{
    text-decoration: none;
}


@media all and (max-width: 1200px) {
    .random_meals {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media all and  (max-width : 320px){
    #hamburg{
        display: none;
    }
    
    #menu-links a{
        display: block;
        background-color: #c0a988;
        padding: 30px;
        text-decoration: none;
        font-size: 0.8em;
        text-align: center;
        z-index: 3;
        color: white;
        font-weight: bold;
    }
    body{
        overflow:visible;
    }
    #dishImage{
        width: 150px;
    }
     #ingrediants{
        display: block;
        margin: 1%;
        visibility: hidden;
        background-color: #c0a988;
        padding: 30px;
        /* margin-left: 15%; */
        box-shadow: #443623 3px 2px 10px;
        border-radius: 50px;
    }

    .ingrediants_cells{
        width: 100px;
        height: 100px;
        background-color: #c0a988;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        gap: 2%;
        overflow: auto;
    }

    .ingrediants_button{
        height: 30px;
        font-weight: bolder;
        background-color: #443623;
        color: white;
        border: 0px;
        margin: 3%;
        border-radius: 10px;
        width: 150px;
    }
    
    .image{
        width: 10%;
    }

    .celling_image img{
        text-align: center;
        width: 30px;
    }
    
    .celling{
        padding: 5%;
    }
    
    .celling_image_name{
        color: white;
        font-size: 1em;
        text-align: center;
    }
    
    #inglist{
        padding:0% 0% 0% 2%;
        font-size: 1em;
        color: black;
        list-style:none;
    
    }
    
    .li{
        text-decoration: none;
    }
}

@media all and (max-width: 1200px) {
    .random_meals {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media all and  (min-width : 320px) and (max-width : 375px){
    #hamburg{
        display: none;
    }
    
    #menu-links a{
        display: block;
        background-color: #c0a988;
        padding: 30px;
        text-decoration: none;
        font-size: 0.8em;
        text-align: center;
        z-index: 3;
        color: white;
        font-weight: bold;
    }
    body{
        overflow:visible;
    }
    #dishImage{
        width: 150px;
    }
     #ingrediants{
        display: block;
        margin: 1%;
        visibility: hidden;
        background-color: #c0a988;
        padding: 30px;
        /* margin-left: 15%; */
        box-shadow: #443623 3px 2px 10px;
        border-radius: 50px;
    }

    .ingrediants_cells{
        width: 100px;
        height: 100px;
        background-color: #c0a988;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        gap: 2%;
        overflow: auto;
    }

    .ingrediants_button{
        height: 30px;
        font-weight: bolder;
        background-color: #443623;
        color: white;
        border: 0px;
        margin: 3%;
        border-radius: 10px;
        width: 150px;
    }
    
    .image{
        width: 10%;
    }

    .celling_image img{
        text-align: center;
        width: 30px;
    }
    
    .celling{
        padding: 5%;
    }
    
    .celling_image_name{
        color: white;
        font-size: 1em;
        text-align: center;
    }
    
    #inglist{
        padding:0% 0% 0% 2%;
        font-size: 1em;
        color: black;
        list-style:none;
    
    }
    
    .li{
        text-decoration: none;
    }
}

@media all and (max-width: 768px) {
    #hamburg{
        display: none;
    }
    .homepage {
        height: 60vh; 
    }

    #menu-links a{
        display: block;
        background-color: #c0a988;
        padding: 30px;
        text-decoration: none;
        font-size: 0.8em;
        text-align: center;
        z-index: 3;
        color: white;
        font-weight: bold;
    }
    body{
        background-color: #B99470;
    }
    .random_meals {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav_heading {
        padding-left: 2%;
        margin-bottom: 5px;
    }

    #hamburg{
        display: block;
        width: 40px;
        position: relative;
        left: 80px;
        bottom:50px;
        margin-left: 70px;
    }

    nav a {
        padding: 2% 0;
        display: block;
    }

    #dishImage{
        width: 150px;
    }
    #inglist{
        padding:0% 0% 0% 2%;
        font-size: 1em;
        color: black;
        list-style:none;
    
    }
    
     #ingrediants{
        display: block;
        margin: 1%;
        visibility: hidden;
        background-color: #c0a988;
        padding: 30px;
        box-shadow: #443623 3px 2px 10px;
        border-radius: 50px;
    }
    .ingrediants_cells{
        width: 100px;
        height: 100px;
        background-color: #c0a988;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        gap: 2%;
        overflow: auto;
    }

    .ingrediants_button{
        height: 30px;
        font-weight: bolder;
        background-color: #443623;
        color: white;
        border: 0px;
        margin: 3%;
        border-radius: 10px;
        width: 150px;
    }

    #forImage {
        display: none;
    }

    .welcome {
        font-size: 2em;
        padding: 10% 0% 0% 2%;
    }

    .abouttheweb {
        font-size: 0.9em;
        padding: 4% 0% 0% 2%;
    }

    #Get_more_button {
        width: 70px;
        height: 35%;
        margin: 4% 0% 0% 2%;
    }

    #randompage {
        margin-top: 10px;
    }

    .random_meals_head {
        font-size: 2em;
    }

    .random_meals {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 4%;
    }

    .cell, .cell_image {
        width: 100%;
        height: auto;
    }

    .cell_image_name {
        font-size: 1em;
    }
}

@media all and (max-width: 480px) {
    .random_meals {
        grid-template-columns: 1fr;
    }

    nav {
        height: 100px;
        flex-direction: column;
        display: flex;
    }

    .nav_heading {
        padding-left: 2%;
        margin-bottom: 5px;
    }

    nav a {
        display: none;
    }

    #forImage {
        height: 100%;
        position: relative;
        left: 190px;
        bottom: 90px;
    }

    .welcome {
        font-size: 2em;
        padding: 20% 0% 0% 4%;
    }

    .abouttheweb {
        font-size: 0.9em;
        padding: 7% 0% 0% 4%;
    }

    #Get_more_button {
        width: 70px;
        height: 30px;
        font-size: xx-small;
        margin: 14% 0% 0% 4%;
    }
}