*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#ingrediants{
    display: grid;
    position: absolute;
    bottom: -850px;
    margin: 7% 0% 0% 10%;
    grid-template-columns: 30% 70%;
    grid-gap: 6%;
    visibility: hidden;
    background-color: #c0a988;
    padding: 70px;
    margin-left: 15%;
    box-shadow: #443623 3px 2px 10px;
    border-radius: 50px;
}

#ingrediants_cells{
    grid-row: span 3;
}

.ingrediants_cells{
    width: 650px;
    height: 400px;
    background-color: #c0a988;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    gap: 2%;
    overflow: auto;
}

.ingrediants_button{
    height: 300%;
    font-weight: bolder;
    background-color: #443623;
    color: white;
    border: 0px;
    border-radius: 10px;
    width: 280px;
}

.celling_image{
    text-align: center;
    width: 30%;
}

.celling{
    padding: 5%;
}

.celling_image_name{
    color: white;
    font-size: 1em;
    text-align: center;
}

#inglist{
    padding:0% 0% 0% 2%;
    font-size: 1.6em;
    color: black;
    list-style:none;

}

.li{
    text-decoration: none;
}

@media all and  (max-width : 320px){
    body{
        overflow:visible;
    }
     #ingrediants{
        display: block;
        margin: 1%;
        visibility: hidden;
        background-color: #c0a988;
        padding: 30px;
        margin-left: 15%;
        box-shadow: #443623 3px 2px 10px;
        border-radius: 50px;
    }

    .ingrediants_cells{
        width: 100px;
        height: 100px;
        background-color: #c0a988;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        justify-content: center;
        gap: 2%;
        overflow: auto;
    }

    .ingrediants_button{
        height: 30px;
        font-weight: bolder;
        background-color: #443623;
        color: white;
        border: 0px;
        margin: 3%;
        border-radius: 10px;
        width: 150px;
    }
    
    .image{
        width: 10%;
    }

    .celling_image img{
        text-align: center;
        width: 30px;
    }
    
    .celling{
        padding: 5%;
    }
    
    .celling_image_name{
        color: white;
        font-size: 1em;
        text-align: center;
    }
    
    #inglist{
        padding:0% 0% 0% 2%;
        font-size: 1em;
        color: black;
        list-style:none;
    
    }
    
    .li{
        text-decoration: none;
    }
}